# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# TeX build artifacts
**/build/
**/_manual_build.*
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# Temporary files
*.tmp
*.temp
